### Step 1. 필요한 라이브러리 들을 import 하세요

In [2]:
import pandas as pd

### Step 2. 다음 raw_data 를 이용하여 DataFrame을 만드세요

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. regiment 라는 변수에 DataFrame을 할당 하세요.
#### 각 column값을 raw_data의 key값으로 설정하세요

In [4]:
raw_data.keys() # keys()함수는 key를 리스트로 반환해준다.

dict_keys(['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])

In [5]:
regiment = pd.DataFrame(raw_data, columns=raw_data.keys()) # key를 columns로 설정해야함으로
regiment.head()                                            # columns = raw_data.keys()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. Nighthawks regiment의 평균 preTestScore는 얼마입니까?

In [6]:
# regiment(DF)의 regiment의 열에서 == Nighthawks를 필터링.
# 필터링한 범위를 인덱싱하여 출력 regiment[]
regiment[regiment.regiment == "Nighthawks"]

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

In [7]:
regiment[regiment.regiment == "Nighthawks"].groupby("regiment").mean()
# 해당범위의 "regiment"만 groupby하여 mean()적용. /위의 표 참고

/var/folders/g7/f08nzmfx1jj3k20vm6vj4p7h0000gn/T/ipykernel_4860/1107980252.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  regiment[regiment.regiment == "Nighthawks"].groupby("regiment").mean()

            preTestScore  postTestScore
regiment
Nighthawks         15.25           59.5

### Step 5. company의 종합 통계량을 제시하세요

In [8]:
regiment.groupby("company").describe() #숫자열만 적용하여 출력, 열의 내용이 문자열인 경우는 해당없음. 원본 표 참고.

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Step 6. 각 company의 평균 preTestScore는 얼마입니까?

In [9]:
regiment.groupby("company").preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. regiment 별 company의 평균 preTestScores 제시하세요

In [11]:
regiment.groupby(["regiment","company"]).preTestScore.mean() # 두 컬럼 묶어서 groupby가능하다.

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. regiment 별 company의 평균 preTestScores를 heirarchical indexing 없이 제시하시오.
#### Hint : unstack()

In [12]:
regiment.groupby("regiment").company.preTestScore.mean().unstack()

AttributeError: 'SeriesGroupBy' object has no attribute 'preTestScore'

In [20]:
regiment.groupby(["regiment","company"]).preTestScore.mean().unstack()
# regiment 별 company의 평균 = groupby(["regiment","company"])
# 각 company의  = groupby("company")

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Step 9. regiment 별 company에 대해 다음과 같은 통계량을 제시하시오.
#### preTestScore, postTestScore의 평균

In [22]:
regiment.groupby(["regiment","company"]).mean()

/var/folders/g7/f08nzmfx1jj3k20vm6vj4p7h0000gn/T/ipykernel_4064/1231113528.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  regiment.groupby(["regiment","company"]).mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0