In [10]:
index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)

df.reset_index(inplace = True) # .reset_index()는 인덱스 값들을 DF의 열로 전송하고 새로운 정소인덱스를 세팅한다.
df

    index    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [11]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True) # 임의의 index 목룩 추가(index 번호 0으로 생성)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [12]:
df[['현재가','등락률']] # 데이터프레임 형태로 출력 [[""]]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [13]:
df.iloc[0] # 0번째 행을 인덱싱하면 기존의 columns가 새로 index로 설정되고 할당되는 데이터기 열로 출력된다.

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [14]:
df.iloc[[0,2]] # 두개 이상을 인뎅싱할 때는 기존 인덱스와 컬롬스 동일하게 유지되어 나란히 출력된다.

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [15]:
df.at["037730","등락률"] #하나의 스칼라 값 접근에 특화된 함수
df.iat[0, 2]

7.36

In [16]:
####################################################
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [17]:
df.loc['037730':'036360']

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [20]:
print(df.iloc[:, 0]) # 행은 전체로 출력, 열은 0번째 출력, iloc / loc 함수로 특정 columns 출력하기
print("---------------")
print(df.loc["037730":"005760", "종목명"])

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object
---------------
종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

In [24]:
print(df.iloc[0, 0:2])  # 037730행에서 특정 두개의 cloumns값 출력하기.

종목명      3R
현재가    1510
Name: 037730, dtype: object

In [25]:

print(df.loc["037730":"036360", "종목명":"현재가"])
print('---------------------------')
print(df.iloc[0:2, 0:2])

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
---------------------------
          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790