# Occupation

### Step 1. 필요한 라이브러리 들을 import 하세요

In [3]:
import pandas as pd

### Step 2. 다음 주소로 부터 dataset을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/u.user).

### Step 3. users 변수에 DataFrame을 할당 하세요.
#### index 는 user_id입니다.

In [4]:
users = pd.read_csv("https://raw.githubusercontent.com/myoh0623/dataset/main/u.user", sep="|", index_col= "user_id")
#  구분자 '|' 인 text 파일 불러오기 : sep='|'
#  파일 불러올 때 index 지정해주기 : index_col

users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4.  occupation별 평균 나이는 얼마입니까?

In [5]:
users.groupby("occupation").age.mean() #직업의 평균 나이를 알면, 직업 최대 근무기간을 예측할 수있다.(데이터 의미)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. occupation별 남성의 비율을 확인하고 내림차순으로 정렬하세요

In [6]:
result = users[users.gender == "M"].occupation.value_counts() / users.occupation.value_counts() * 100
result.sort_values(ascending=False)

# user[user.gender == "M"]으로 gender에서 "M"인 영역 필터링하여 인덱싱
# 추출한 영역에서의 "occupation" columns에 value_count함수로 "M"의 수를 파악하여 result 변수에 담는다.
# 전체 users.occupation.value_counts()로 전체 columns의 데이터 수로 나누고, 비율산출을 위해 *100 적용
#.sort_values(ascending=False) 내림차순 함수

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
Name: occupation, dtype: float64

### Step 6. 각 occupation별 최대 최소 age를 확인하세요

In [7]:
users.groupby("occupation").age.agg(["min", "max"]) 
# "gender"에서의 남녀 구분이 필요없는 문제

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. occupation에 따른 gender별 평균 age를 계산 하세요

In [8]:
users.groupby(["occupation","age"]).age.mean()


#gender도 F or N / company도 1st or 2st

occupation     age
administrator  21     21.0
               22     22.0
               23     23.0
               25     25.0
               26     26.0
                      ...
writer         50     50.0
               51     51.0
               52     52.0
               56     56.0
               60     60.0
Name: age, Length: 429, dtype: float64

### Step 8. 각 occupation별 남성과 여성의 비율을 나타내시오
#### 어려움

In [9]:
gen_occ = users.groupby(["occupation", "gender"]).agg({"gender":"count"})
count_occ = users.groupby(["occupation"]).agg("count")

# gen_occ에서 agg({"gender":"count"}) = "gender"의 데이터 개수를 count
# count_oc는 전체 "occupation"의 데이터 개수
# 비율은 특정값에서 전체값을 나눈다.

In [10]:
gen_occ.div(count_occ, level="occupation").gender

# level : multiIndex에서 계산할 Index의 레벨입. 
# gen_occ의 index는 "occupation", "gender"

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: gender, dtype: float64