### Step 1. 필요한 라이브러리 들을 import 하세요

In [2]:
import pandas as pd

### Step 2. 다음 주소로 부터 dataset을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/drinks.csv).

In [3]:
drinks = pd.read_csv("https://raw.githubusercontent.com/myoh0623/dataset/main/drinks.csv")

### Step 3. drinks 변수에 DataFrame을 할당 하세요

In [4]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. 각 continent별 beer_servings의 평균은 얼마인가요?

In [12]:
drinks.groupby(["continent"]).beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. 각 continent별 wine_servings의 통계량을 출력하세요

In [15]:
drinks.groupby(["continent"]).wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. 모든 column에 대해 continent별 각 음료간의 소비량의 평균을 구하세요

In [16]:
drinks.groupby(["continent"]).mean(0)

/var/folders/g7/f08nzmfx1jj3k20vm6vj4p7h0000gn/T/ipykernel_7875/2422821666.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  drinks.groupby(["continent"]).mean(0)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. 모든 column에 대해 continent별 각 음료간의 소비량의 중간값을 구하세요

In [17]:
drinks.groupby(["continent"]).median(0)  # continent에서 모든 columns의 값에 접근할 때

/var/folders/g7/f08nzmfx1jj3k20vm6vj4p7h0000gn/T/ipykernel_7875/3042157142.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.median is deprecated. In a future version, a TypeError will be raised. Before calling .median, select only columns which should be valid for the function.
  drinks.groupby(["continent"]).median(0)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. spirit 소비량에 대한 평균, 최소, 최대 값을 구하세요

In [19]:
#drinks.groupby("spirit_servings").agg(["mean","max","min"])

drinks.groupby("continent").spirit_servings.agg(["mean","max","min"]) 

# continent에서 특정 spirit_servings값을 접근할 때

                 mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25